<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="Lectronics" connectionString="Data Source=ZOYA\MSSQLSERVERS;Initial Catalog=Lectronics;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="MySql.Data, Version=8.0.32.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/></assemblies></compilation>
	</system.web>
</configuration>
